@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

@font-face {
    font-family: "Avenir Light";
    src: url('fonts/avenir/avenir-light/al.ttf') format('truetype');
    font-display: block;
}

@font-face {
    font-family: "Avenir Regular";
    src: url('fonts/avenir/avenir-regular/ar.ttf') format('truetype');
    font-display: block;
}

body {
    margin: 0;
    font-family: "Avenir Light", Arial, Helvetica, sans-serif;
}

body * {
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 30px;
    left: 30px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Suez One', serif;
}

header h1 {
    margin: 0;
    transition: all 0.3s ease;
}

header h1:hover,
nav *:hover {
    color: #ED1745;
    cursor: pointer;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 100vh;
    background-color: #FFDE79;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 0;
}

nav * {
    transform: rotate(90deg);
    font-size: 1.5em;
    margin: 0;
    transition: all 0.3s ease;
}

footer,
.layout {
    margin-right: 60px;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header,
section,
footer {
    padding: 20px;

    /* center-aligns the content inside the boxes */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    min-height: 250px;
}

header,
#s1,
#s4,
#s7,
footer {
    grid-column: 1 / 3;
}

#s1 {
    background-color: #FFE0E2;
    height: 90vh;
}

#s1 h2,
#s1 p {
    margin: 0;
}

#s1 h2 {
    font-size: 2em;
}

#s1 p {
    font-size: 2em;
    width: 600px;
    text-align: center;
    line-height: 1.5em;
}

#s2 {
    background-color: #ED1745;
}

#s3 {
    background-color: white;
}

#s4 {
    background-color: #3C90DA;
}

#s5 {
    background-color: #FFE0E2;
}

#s6 {
    background-color: #FF8D80;
    padding: 0 !important;
}

#s6 img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#s7 {
    background-color: #00C081;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 40px;
    min-height: 90vh;
    padding: 100px;
}

#s7 img {
    width: 100%;
}

footer {
    background-color: #86F8D4;
}